# /etc/os-updates-exporter.env
TEXTFILE_DIR=/var/lib/node_exporter
STATE_FILE=/var/lib/os-updates-exporter/state.json
LOCK_FILE=/run/os-updates-exporter.lock

PATCH_THRESHOLD=3
# PATCH_THRESHOLD_SECURITY=1
# PATCH_THRESHOLD_BUGFIX=10

# Maintenance window
# MW_START=2200
# MW_END=0200

REPO_HEAD_TIMEOUT=5s
PKGMGR_TIMEOUT=90s
OFFLINE_MODE=0
FAIL_OPEN=1
DEBUG=0

# Updater
DISABLE_SELF_UPDATE=0
UPDATE_CHANNEL=latest
CHECKSUM_REQUIRED=1
GITHUB_REPO=R4VXN/Prometheus
GITHUB_ASSET_PREFIX=os-updates-exporter_Linux_
